{% extends 'base.html' %}

{% block content %}

    <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2">
        <a class="home btn btn-primary" href="/"><span class="glyphicon glyphicon-home"></span> 목록으로 돌아가기</a>
        <div class="page-header"><h3>{{ post.title|linebreaksbr }}</h3></div>
        <p class="text-right">
            Published: {{ post.published_date }}
            <br/>
            Author: {{ post.author }}
            <br/>
            {% if post.published_date %}
                <strong style="color: blue;">게시됨</strong>
            {% else %}
                <strong style="color: red;">게시되지 않음</strong>
            {% endif %}
        </p>
        <p>{{ post.content }}</p>

        <form action="{% url 'post_delete' pk=post.pk %}" method="post">
            {% csrf_token %}
            <p class="text-right">
                <input type="submit" value="글 삭제 " class="btn btn-lg btn-danger">
            </p>
        </form>
    </div>

{% endblock %}