{% extends 'base.html' %}

{% block content %}
    <div class="col-lg-8 col-lg-offset-2">
        <a href="{% url 'post_add' %}" class="btn btn-lg btn-warning pull-right">글 작성</a>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        {% for post in post_list %}
            <div class="panel panel-default" style="margin-top: 20px">
                <div class="panel-heading">
                    <h4>
                        <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title|truncatewords:6 }}</a>
                    </h4>
                </div>
                <div class="panel-body">
                    <p>
                        <a href="{% url 'post_detail' pk=post.pk %}">{{ post.content|linebreaksbr|truncatewords:50 }}</a>
                    </p>
                    <hr/>
                    <p class="author">
                        <small>
                            <a href="{% url 'post_detail' post.pk %}">
                                <strong class="">Published:</strong> {{ post.published_date }}
                                <br/>
                                <strong>Author:</strong> {{ post.author }}
                            </a>
                        </small>
                    </p>
                </div>
            </div>
        {% endfor %}
        <div class="pagination">
            <p class="text-center">
                <span class="step-links">
                    {% if post_list.has_previous %}
                        <a href="?page={{ post_list.previous_page_number }}">이전</a>
                    {% endif %}

                    <span class="current">
                        페이지 {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
                    </span>

                    {% if post_list.has_next %}
                        <a href="?page={{ post_list.next_page_number }}">다음</a>
                    {% endif %}
                </span>
            </p>
        </div>
    </div>


{% endblock %}
