{% extends 'base.html' %}

{% block content %}

    <div class="col-lg-8 col-lg-offset-2">
        <h2>글 작성</h2>
        {% if alert %}
            <div class="alert alert-warning" role="alert">
                <strong>다시 입력하세요!</strong> 제목 또는 내용이 입력되지 않았습니다.
            </div>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="input-title" id="basic-addon1">제목</label>
                <input name="title" id="input-title" type="text" class="form-control" placeholder="제목"
                       aria-describedby="basic-addon1">
            </div>

            <div class="form-group">
                <label for="input-content" class="input-title" id="basic-addon1">내용</label>
                <textarea name="content" id="input-content" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="input-group">
                <label for="input-checkbox" class="input-title">게시여부 </label>
                <input name="publish" type="checkbox" id="input-checkbox" value="publish"/>
            </div><!-- /input-group -->
            <button class="btn btn-danger" type="submit">글쓰기</button>
        </form>
    </div>

{% endblock %}